version: '3.8'
services:
  app:
    build:
      context: ./
      dockerfile: ./docker/app/Dockerfile
    container_name: app
    ports:
      - ${PORT}:${PORT}
    restart: on-failure
    volumes:
      - ./src:/usr/app/src
    networks:
      - app-network
    depends_on:
      - db
  db:
    build:
      context: ./
      dockerfile: ./docker/db/Dockerfile
    container_name: db
    environment:
      PGDATA: /var/lib/postgresql/data
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    restart: on-failure
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network
networks:
  app-network:
    driver: bridge
volumes:
  pgdata:
